/* <style type="text/css" id="static"> */
/* Reset browser defaults *//* --------------------------------------------------------------
Reset default browser CSS.
Based on work by Eric Meyer:
* http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- *//* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ul, li {margin: 0 0 0 13px; padding: 0;}
ul li {margin: 0 0 0 16px; padding: 0 0 0 3px;}
div#document div.SECTION_CNTC, div#document div.firstsection {margin-top: 0;}
div.name {font-size: 15px; line-height: 17px; font-weight: bold; padding: 10px 0 0 0; text-align: center; border-top: 20px solid #666; color: #666; text-transform: uppercase;}
div.heading {clear: both; font-weight: bold; text-transform: none; color: #666;}
div.address {position: relative; text-align: center; font-size: 0.917em; line-height: 1.25em; margin-top: 0; }
div.address2 {position: relative; text-align: left; font-size: 0.917em; line-height: 1.25em;}
span.jobtitle, span.degree, span.companyname, span.programline {font-weight: bold;}
span.companyname_educ {font-weight: normal;}
span.paddedline {display: block; clear: both;}
span.cdesc {font-style: italic;}
.nodisplay {display: none;}
div.bottomborder {border-color: #C33 !important; padding: 0 0 1px 0;}
.datesWrapper {float: right;}
.table_wrapper {width: 100%; margin-top: 0;}
table.twocol td {width: 50%;}
table.skills {width: 100%;}
table.skills th, table.skills td {width: 20%; text-align: center;}
table.skills th {text-decoration: underline;}
table.skills .skillname, table.skills .skillrating {text-align: left; width: 35%;}
table.skills .skillrating {width: 20%;}
table.skills .skillyears, table.skills .skilllast {width: 19%;}
table.skills .pad1 {width: 5%;}
table.skills .pad2, table.skills .pad3 {width: 1%;}
div.resumeTitle, div.execRsmTitle {font-weight: bold; text-align: center; color: #666;}
td.twocol_2 {border-left:1px  solid #FEFDFD;}
/*FIX for FORCEFULLY making left margin ZERO for CL*/
div#document .sectionCL .paragraph {margin-top: 0!important;}
/* </style>
<style type="text/css" id="unparsed"> */
div#document {line-height: {$FTLH}px;}
div#document table {line-height: {$FTLH}px;}
div#document.pagesize {width: {$DOCW}px;}
div#document.vmargins {padding-top: {$TBMR}px; padding-bottom: {$TBMR}px;}
div#document.hmargins {padding-left: {$LRMR}px; padding-right: {$LRMR}px;}
div#document .section {margin-top: {$SCSP}px;}
div#document div.heading {margin-bottom: {$SHMB}px;}
div#document div.paragraph {margin-top: {$PSPC}px;}
div#document div.firstparagraph {margin-top: 0;}
div#document .singlecolumn, div#document .maincolumn {margin-left: {$SCML}px;}
div#document .bottomborder {border-bottom: {$LNWT}px solid;}
div#document div.sectiontitle {font-size: {$HDSZ}px; line-height: {$HDLH}px; }
div#document table.skills td {padding-top: {$TDMT}px;}
.fontsize {font-size: {$FTSZ}px;}
.fontface {font-family: {$FTFC};}
div.name {font-size: {$NMSZ}px; line-height: {$NMLH}px;}
div.address {font-size: {$CISZ}px; line-height: {$CILH}px; margin-top: {$CIMT}px;}
div.resumeTitle {font-size: {$RTTL}px; line-height: {$RTLH}px;}
div#document .rtlSec {margin-top: {$RTMT}px;}
div.execRsmTitle {font-size: {$ETTL}px; line-height: {$ETLH}px;}
span.compDescWrap {margin-bottom: {$CDES}px;}

/*FIX for Re-calculating width of singlecolumn for CL*/
div#document .sectionCL .singlecolumn {margin-left: 0!important; width: 100%; font-size: {$FTSZ}px;}
div.address2 {font-size: {$FTSZ}px; line-height: {$FTLH}px;}
</style>
<style type="text/css" id="dynamic">
div#document {line-height: 16px;}
div#document table {line-height: 16px;}
/*    div#document.pagesize {width: 532px;}*/
div#document.vmargins {padding-top: 20px; padding-bottom: 20px;}
div#document.hmargins {padding-left: 40px; padding-right: 40px;}
div#document .section {margin-top: 12px;}
div#document div.heading {margin-bottom: 4px;}
div#document div.paragraph {margin-top: 8px;}
div#document div.firstparagraph {margin-top: 0;}
div#document .singlecolumn, div#document .maincolumn {margin-left: 80px; font-size: 13px;}
div#document .bottomborder {border-bottom: 1px solid;}
div#document div.sectiontitle {font-size: 16px; line-height: 20px; }
div#document table.skills td {padding-top: 4px;}
.fontsize {font-size: 10px;}
.fontface {font-family: Trebuchet MS;}
div.name {font-size: 24px; line-height: 48px;}
div.address {font-size: 9px; line-height: 15px; margin-top: {$CIMT}px;}
div.resumeTitle {font-size: 13px; line-height: 25px;}
div#document .rtlSec {margin-top: 17px;}
div.execRsmTitle {font-size: 11px; line-height: 17px;}
span.compDescWrap {margin-bottom: 4px;}

/*FIX for Re-calculating width of singlecolumn for CL*/
div#document .sectionCL .singlecolumn {margin-left: 0!important; width: 100%; font-size: 10px;}
div.address2 {font-size: 10px; line-height: 16px;}
span.jobdesc {font-size:13px;}
span.worktimeframe {solid #666; color: #666; }
/* </style> */
